*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 450px;
    height: 610px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 0px;
}

.header{
    background-color: rgb(156, 217, 251);
    height: 60px;
    display: grid;
    grid-template-columns: 190px 200px 190px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}


.center{
    margin-left: -30px;
}
.left{
    margin-left: 20px;
}

.right{
    margin-left: 30px;
}

.cal{
    background-color: rgb(122, 164, 255);
    height: 420px;
}

.days {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    margin-left: 30px;
}

.row1{
   margin-left: 360px;
}

.rows{
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px ;
    margin-left: 30px;
    margin-top: 20px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row2{
 display: grid;
 grid-template-columns:60px 60px 60px 60px 60px 60px 60px ;
}

.row3{
    display: grid;
    grid-template-columns:60px 60px 60px 60px 60px 60px 60px ;
   }

   .row4{
 display: grid;
 grid-template-columns:60px 60px 60px 60px 60px 60px 60px ;
}

.row5{
 display: grid;
 grid-template-columns:60px 60px 60px 60px 60px 60px 60px ;
}

.row:hover{
    background-color: white;
    opacity: 20%;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: black;
}

.icn img{
    width: 38px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
   
}

.icn{
    display: grid;
    grid-template-columns: 70px 200px;
}

.icn p{
    margin-top: 10px;
    color: rgb(122, 164, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icn span{
    color: blue;
}

.plus {
background-color: rgb(156, 217, 251);
width: 60px;
height: 60px;
color: aliceblue;
font-size: 50px;
text-align: center;

}

.ppp{
    display: flex;
    justify-content:right ;
    align-items: flex-end;
    margin-top:-80px;
}
